/* Standard CSS file */
*{
  margin:0;
  padding:0;
  outline: none;
}
html, body{
  height: 100%;
  font-family: 'Roboto';
}
.foundation{
  margin:0 auto;
  max-width:960px;
}
.clear{
  clear:both;
}
.top-menu-default{
  position: absolute;
  top: 98px;
  width: 100%;
}
.top-menu-fixed{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:300000;
}
.logo{
  background:url('../img/logo.svg') no-repeat;
  background-size: contain;
  height: 5em;
}
.call_button{
  background: #4285f4;
  font-size: 1.2em;
  padding: 3px;
}
.background_content{
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.bc1{
  background-image:url('../img/background.jpg');
}
.bc2{
  background-image:url('../img/background2.jpg');
}
.numcounter_number{
  transition:1s ease all;
  opacity:0;
}
.numcounter_visible{
  opacity:1;
}
.footer_social a{
  display: block;
  width: 2em;
  height: 2em;
  background-size: 100%;
}
.vk{
  background: url('../img/vk.svg') no-repeat;
}
.fb{
  background:url('../img/facebook.svg') no-repeat;
}
.ig{
  background:url('../img/instagram.svg') no-repeat;
}