@media screen and (max-width: 480px) {
  #open_menu{
    height: 2em;
    background: black;
    display: block;
    position: relative;
    &:before{
      content: "";
      position: absolute;
      top: 0.7em;
      left: 50%;
      width: 1em;
      height: 0.125em;
      border-top: 0.375em double #FFF;
      border-bottom: 0.125em solid #FFF;
    }
  }
}